.shop {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
    &--title {
        text-align: center;
        color: #34493E;
        font-size: 32px;
        &-secondary {
            text-align: center;
            color: #34493E;
            font-size: 24px;
        }
    }
    &__image {
        max-width: 800px;
    }
    &__info {
        margin: 0px 75px;
        &--text {
            font-size: 24px;
            text-align: justify;
            color: #34493E;
        }
    }
    &__container {
        display: flex;
        width: auto;
        justify-content: center;
        &__elements {
            display: inline-flex;
            flex-wrap: wrap;
            width: fit-content;
            justify-content: center;
        }
        &--element {
            width: 320px;
            height: 200px;
            margin: 25px;
            overflow: hidden;
            cursor: pointer;
        }
    }
}